body {
  margin-left: 20vw;
  margin-top: 10vw;
  
  /* background-color: black; */
  /* background-image:url("https://wallpaperaccess.com/full/1092578.jpg"); */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
